<div class="flex flex-col md:flex-row items-start md:items-start bg-[#EFE4D2] justify-center w-[60%] mx-auto mb-20 mt-20 ">
  <!-- Sezione sinistra con immagine -->
  <div class="w-full md:w-1/2 flex justify-center md:justify-start mb-4 md:mb-0 md:pr-8">
    <img src="<%= schedaimage %>" alt="<%= schedatitle %>" class="w-full md:w-auto max-w-md">
  </div>

  <!-- Sezione destra con testo -->
  <div class="w-full md:w-1/2 flex flex-col items-start">
    <!-- Titolo -->
    <h1 class="text-4xl font-bold mb-4"><%= schedatitle %></h1>

    

    <!-- Descrizione -->
    <p class="text-base mb-4">
      Se sogni un viaggio che unisca cultura, ribellione e poesia, San Francisco è la tua meta. Negli anni ’50, la città fu il cuore pulsante della Beat Generation, un movimento letterario e culturale che ruppe con le convenzioni dell’America conservatrice. Scrittori come Jack Kerouac, Allen Ginsberg e Lawrence Ferlinghetti trovarono rifugio e ispirazione nei caffè, nei vicoli e nelle librerie di North Beach, ancora oggi intrisi del loro spirito anticonformista.
Visita la leggendaria City Lights Bookstore, tempio della controcultura e culla della poesia beat. Passeggia lungo Columbus Avenue dove si respira un’aria bohemien fatta di jazz, arte e libertà d’espressione. San Francisco ti invita non solo a esplorare una città, ma a entrare in un’epoca in cui viaggiare era un atto poetico e rivoluzionario.
      
    </p>

    <!-- Informazioni -->
    <div class="w-full mt-6">
      <h3 class="text-2xl font-semibold mb-2"><%= schedainformazioni %></h3>
      <a href="#" class="text-gray-500 hover:text-gray-700 mb-2 block">City Lights Bookstore</a>
      <a href="#" class="text-gray-500 hover:text-gray-700 mb-2 block">Caffè Trieste</a>
      <a href="#" class="text-gray-500 hover:text-gray-700 mb-2 block">The Beat Museum</a>
    </div>
  </div>
</div>
